<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<link rel="stylesheet" href="http://www.hud.ac.uk/media/universityofhuddersfield/styleassets/css/font-awesome.min.css">


<style>
.fa.fa-calendar-o {
    color: #003967;
    font-size: 12em;
    float: left;
    position: absolute;
    clear: left;
}
.month {
  position: absolute;
  top: 55px;
  color: #EC008C;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}
.date-month {
    position: absolute;
    font-size: 6em;
    width: 100%;
    text-align: center;
    top: 56px;
    color:#EC008C;
}
.event-details {
  float: left;
  margin-left: 15px;
}
.cal {
  position: relative;
  width: 156px;
  height: 200px;
  margin-top:4em;
}
</style>

<body>

<div class="col-lg-12" data-ng-app="myApp" data-ng-controller="customersCtrl"> 


  <h1>{{title}}</h1>

  <div class="col-lg-6">
    <select class="form-control" name="show-filter" data-ng-model="catFilter.countries" data-ng-selected="all">
      <option value="">---Please select a Country---</option> <!-- not selected / blank option -->
      <option data-ng-repeat="country in countries" value="{{country.code}}">
        {{country.name}}
      </option>
    </select>
  </div>
    <div class="col-lg-6">
      <select class="form-control" name="show-filter" data-ng-model="catFilter.webinar" data-ng-selected="all"
        data-ng-options="category as category.title for category in myData">
        <option value="">---Please select a Webinar---</option> <!-- not selected / blank option -->
      </select>
    </div>

      <div class="col-sm-2">
      <div class="cal" data-ng-repeat="cat in myData | filter : catFilter.country | filter : catFilter.webinar"><i class="fa fa-calendar-o"></i><p class="month">{{ cat.startdate | date:"MMMM" }}</p><p class="date-month">{{ cat.startdate | date:"M" }}</p></div>
    <p>{{ cat.startdate | date:"M" }}</p>
</div>
<div class="col-sm-10 pull-right">
    <li data-ng-repeat="cat in myData | filter : catFilter.countries | filter : catFilter.webinar">
    <h3>{{cat.title}}</h3>
    <!-- for testing -->
    <b>input: {{catFilter.id}}</b> - - ID: {{cat.id}}
    <p>{{cat.startdate}} </p>
    <p>{{cat.city}} </p> 
    <p>{{countries[cat.country]}} </p>
    <p>{{cat.venue}} </p>
    <p>{{cat.description}}</p>
    {{ cat.startdate | date:"M" }}
    </li>
</div>
<!--
<ul>
  <li ng-repeat="x in myData">
    {{ x.title + ', ' + x.id  }}
  </li>
</ul>-->

</div>


  
<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http, $log) {

  $http.get("countries.json").then(function (response) {
      var countries = response.data.countries;
      $scope.countries = [];
      $http.get("test.json").then(function (response2) {
          $scope.myData = response2.data.records;
          angular.forEach($scope.myData, function(event) {
            if (countries[event.country] !== undefined) {
              $scope.countries.push({"name": countries[event.country], "code": event.country});
              $log.info($scope.countries);
            }
          })
      });
  });
});

app.filter("dateFilter", function () {
    return function (item) {
        if (item != null) {
            return new Date(parseInt(item.substr(6)));
        }
        return "";
    };
});


// here we define our unique filter
testApp.filter('unique', function() {
   // we will return a function which will take in a collection
   // and a keyname
   return function(collection, keyname) {
      // we define our output and keys array;
      var output = [], 
          keys = [];
      
      // we utilize angular's foreach function
      // this takes in our original collection and an iterator function
      angular.forEach(collection, function(item) {
          // we check to see whether our object exists
          var key = item[keyname];
          // if it's not already part of our keys array
          if(keys.indexOf(key) === -1) {
              // add it to our keys array
              keys.push(key); 
              // push this item to our final output array
              output.push(item);
          }
      });
      // return our array which should be devoid of
      // any duplicates
      return output;
   };
});

</script>

<script src="https://use.fontawesome.com/04a8c6e282.js"></script>

</body>
</html>
